{% extends 'base.html' %}
{% load staticfiles %}

  
<!-- Cuerpo de la página. Contenido -->
{% block contenido %}

<div id="page-wrapper">

    <div class="container-fluid">
    
    {% if messages %}

        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-info-circle"></i>  <strong>{{ message }}</strong>
            </div>
        {% endfor %}

    {% endif %}
    
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Confirmar Comida
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
        <div class='col-lg-12'>
            <div class="form-group">
                {% if accion == 'ini' %}
                <h3>Inicio de hora de comida de: <b>{{ persona.alias }}</b></h3>
                <!-- <label>Inicio de hora de comida de: {{ persona.alias }}</label> -->
                {% elif accion == 'fin' %}
                <h3>Fin de hora de comida de: <b>{{ persona.alias }}</b></h3>
                <!-- <label>Fin de hora de comida de: {{ persona.alias }}</label> -->
                {% elif accion == 'bloqueo' %}
                <h3><b>{{ persona.alias }}</b> ya salió, no registró fin de comida</h3>
                <!-- <label>{{ persona.alias }} ya salió, no registró fin de comida</label> -->
                {% elif accion == 'noAsis' %}
                <h3><b>{{ persona.alias }}</b> no asitió hoy</h3>
                <!-- <label>{{ persona.alias }} no asitió hoy</label> -->
                {% endif %}
            </div>
        </div>
        </div>
        
        <form role="form" action="" method="POST">
        {% csrf_token %}
            
            <div class="row">
            <div class='col-lg-6'>
                <!-- <div class="form-group"> -->
                {% if accion == 'noAsis' %}
                <div class="form-group">
                    <a class="btn btn-warning" href="{% url 'comida' %}">Regresar</a>
                </div>
                {% elif accion == 'bloqueo' %}
                <div class="form-group">
                    <a class="btn btn-warning" href="{% url 'comida' %}">Regresar</a>
                </div>
                {% else %}
                <div class="form-group">
                    <label>NIP</label>
                    <input class="form-control" maxlength="4" name="nip" type="password" autocomplete="off" >
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                    <a class="btn btn-warning" href="{% url 'comida' %}">Cancelar</a>
                </div>
                {% endif %}
                <!-- </div> -->
            </div>        
            </div>
        <!-- /.row -->
        </form>

    </div>
        
        
        

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->
{% endblock contenido %}